<main class="app-main">
  <br />
  <div class="app-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                Personas Identificadas en los Casos de Delitos
              </h3>
            </div>
            <div class="card-body">
              <div class="input-group mb-3">
                <input
                  type="text"
                  #searchInput
                  class="form-control"
                  placeholder="Ingrese el valor de Nombres a buscar"
                  [(ngModel)]="nombresFilter"
                  (keyup)="search(searchInput.value)"
                />
                <button
                  class="btn btn-outline-primary"
                  type="button"
                  (click)="onFilter()"
                >
                  <i class="bi bi-search"></i> Buscar
                </button>
                <button
                  class="btn btn-success ms-2"
                  [routerLink]="['/personas/register']"
                >
                  <i class="bi bi-plus-lg"></i> Agregar Persona
                </button>
              </div>
              <ngx-datatable
                #table
                class="material"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [messages]="{emptyMessage: 'No hay datos'}"
                [rowHeight]="'auto'"
                [count]="totalRows"
                [offset]="pageNumber"
                [limit]="pageSize"
                [rows]="personas"
                (page)="onPageChange($event)"
                (sort)="onSortChange($event)"
                [externalPaging]="true"
              >
                <ngx-datatable-column
                  name="#"
                  [width]="50"
                  [headerClass]="'text-center'"
                  [cellClass]="'text-center'"
                >
                  <ng-template
                    let-rowIndex="rowIndex"
                    ngx-datatable-cell-template
                  >
                    {{ rowIndex + 1 + (pageNumber * pageSize) }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="NOMBRES" prop="nombres">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="APELLIDOS" prop="apellidos">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="TIPO DOCUMENTO"
                  prop="tipoDocumento"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="NUMERO DOCUMENTO"
                  prop="numeroDocumento"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="FECHA NACIMIENTO"
                  prop="fechaNacimiento"
                >
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value | date:'dd-MM-yyyy' }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="SEXO" prop="sexo">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                  name="ACCIONES"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [width]="150"
                >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button
                      class="btn btn-warning btn-sm mx-1"
                      [routerLink]="['/personas/edit', row.id]"
                    >
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm mx-1"
                      (click)="deletePersona(deletePersonaModal, row)"
                    >
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <div class="mt-2 text-end text-secondary small">
                Total registros: <b>{{ totalRows }}</b>
              </div>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #deletePersonaModal>
  <div class="modal-body">
    <p>
      ¿Estás seguro de que deseas eliminar esta Persona "{{persona?.nombres}}
      {{persona?.apellidos}}"?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Cancelar
    </button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">
      Eliminar
    </button>
  </div>
</ng-template>

<!-- Tabla de Personas sin data table

      <table class="table table-bordered table-striped">
                    <thead>
    <tr>
      <th>Id</th>
      <th>NOMBRES</th>
      <th>APELLIDOS</th>
      <th>TIPO DOCUMENTO</th>
      <th>NUMERO DOCUMENTO</th>
      <th>FECHA NACIMIENTO</th>
      <th>SEXO</th>
      <th>ACCIONES</th>

    </tr>
  </thead>
  <tbody>

   @for ( persona of personas; track $index) {
      <tr>
     <td>{{ $index +1 }}</td>
      <td>{{ persona.nombres }}</td>
      <td>{{ persona.apellidos }}</td>
      <td>{{ persona.tipoDocumento }}</td>
      <td>{{ persona.numeroDocumento }}</td>
      <td>{{ persona.fechaNacimiento | date:'dd-MM-yyyy' }}</td>
      <td>{{ persona.sexo }}</td>
      <td>





 Botón Editar con icono
<button class="btn btn-warning btn-sm mx-2" [routerLink]="['/personas/edit', persona.id]">
  <i class="bi bi-pencil-square"></i>
</button>

Botón Eliminar con icono 
<button type="button"
        class="btn btn-danger btn-sm mx-2"
        (click)="deletePersona(deletePersonaModal, persona)">
  <i class="bi bi-trash3-fill"></i> 
</button>
      </td>
    </tr>

}
  </tbody>

</table>
-->
